/* ? Landing Page Equivalent */

.introduction-container {
    display: flex;
    position: relative;
    margin-top: 90px;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55vw;
    margin-right: 100px;
}

.introduction-headline {
    font-family: 'Englebert', sans-serif;
    text-align: center;
    font-size: 2.25rem;
    margin-top: 20px;
}

.introduction-paragraph {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.25rem;
    margin: 20px 95px;
    font-weight: 600;
    text-align-last: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 15vw;
}

.introduction-image {
    width: 450px;
    height: auto;
    border-radius: 15px;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    pointer-events: none;
}

.learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #014C78;
    border-radius: 25px;
    padding: 12.5px 30px;
    font-family: 'Englebert', sans-serif;
    color: #E9EAE9;
    font-size: 1.15rem;
    transition: .5s all ease;
    border: 2.5px dashed transparent;
    margin-top: 10px;
    user-select: none;
}

.learn-more-btn:hover {
    box-shadow: 10px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 2.5px dashed #E9EAE9;
}

/* ? Filler */

.filler {
    background: rgba(20, 158, 188, 0.21);
    margin: 60px 0;
    padding: 30px;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Englebert', sans-serif;
}

.filler-img {
    width: 35px;
    height: auto;
    vertical-align: middle;
    margin-right: 30px;
    pointer-events: none;
}

/* ? Arrow */

.fa-arrow-right {
    position: absolute;
    top: 175px;
    right: 100px;
    font-size: 1.75rem;
    padding: 10px;
    border-radius: 50%;
    transition: .5s all ease;
}

.fa-arrow-right:hover {
    background-color: #F26E11;
    color: #E9EAE9;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.fa-arrow-left {
    position: absolute;
    top: 175px;
    left: 25px;
    font-size: 1.75rem;
    padding: 10px;
    border-radius: 50%;
    transition: .5s all ease;
}

.fa-arrow-left:hover {
    background-color: #F26E11;
    color: #E9EAE9;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

/* ? Paragraph */

.paragraph-container {
    width: 70vw;
    margin: 60px auto 0 auto;
}

.tags-container {
    display: flex;
    margin: 0 0 20px 25px;
}

.tag {
    background-color: #F26E11;
    padding: 8px 16px;
    margin: 0 5px;
    color: white;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.65rem;
}

.paragraph {
    background-color: #014C78;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    text-align-last: center;
    border-radius: 30px;
    padding: 60px 20px;
    box-shadow: 0px 0px 7.5px 7.5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.paragraph-image {
    width: 350px;
    border-radius: 15px;
}

.paragraph-text {
    width: 350px;
    font-family: "Montserrat", sans-serif;
    line-height: 2.0;
    text-align: justify;
    text-align-last: auto;
}

/* ? Newsletter Tile */

.newsletter {
    background: #149EBC36;
    padding: 30px 0;
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter-text {
    font-family: 'Englebert', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.6rem;
    text-align: center;
}

.newsletter-email-button {
    display: flex;
    align-items: center;
}

.newsletter-email {
    position: relative;
    width: 250px;
    height: 45px;
}

.email-form {
    font-family: 'Englebert', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #F26E11;
    border-radius: 20px;
    background-color: #E9EAE9;
    outline: none;
    font-size: 1.2rem;
    padding-left: 20px;
}

.label-email {
    position: absolute;
    top:50%;
    left: 20px;
    color: rgba(0, 0, 0, 0.75);
    transform:translateY(-50%);
    transition: transform .5s;
    font-family: 'Englebert', sans-serif;
    font-size: 1.2rem;
}

.email-form:focus~.label-email,
.email-form:not(:placeholder-shown).email-form:not(:focus)~.label-email {
    transform: translateY(-50px);
}

.newsletter-btn {
    font-family: 'Englebert', sans-serif;
    position: relative;
    padding: 8px 20px;
    z-index: 10;
    border: 2px solid #F26E11;
    background-color: #E9EAE9;
    color: #F26E11;
    box-shadow: 5px 5px 2.5px 2.5px #00000059;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: color .3s;
    margin-left: 20px;
}

.newsletter-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-100% - 2px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: #F26E11;
    transition: transform .6s cubic-bezier(.6, 2.2, .6, -0.2);
    z-index: -2;
}

.newsletter-btn:hover::after {
    transform: translateX(calc(100% - 2px));
}

.newsletter-btn:hover {
    color: #FFFFFF;
}

/* ? Media Queries */

@media(max-width:1200px) {
    .paragraph-container {
        width: 80vw;
    }
}

@media(max-width:1100px) {
    .introduction-image {
        width: 350px;
    }

    .paragraph-image {
        width: 300px;
    }
}

@media(max-width:950px) {
    .introduction-paragraph {
        margin: 20px 70px;
    }

    .introduction-image {
        width: 325px;
    }

    .paragraph-image {
        width: 275px;
    }
}

@media(max-width:900px) {
    .paragraph-text {
        width: 300px;
    }

    .introduction-paragraph {
        margin: 20px 60px;
    }
}

@media(max-width:800px) {
    .introduction-image {
        width: 300px;
        margin-top: 0;
    }

    .paragraph-image {
        width: 250px;
    }

    .paragraph-container {
        width: 85vw;
    }

    .introduction-paragraph {
        margin: 20px 40px 20px 50px;
    }
}

@media(max-width:700px) {
    .introduction-container {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .image-container {
        order: -1;
        width: auto;
    }

    .introduction-text {
        margin-right: 0;
        margin-top: 20px;
        width: 80vw;
    }

    .introduction-headline {
        font-size: 2.5rem;
    }

    .introduction-paragraph {
        font-size: 1.5rem;
    }

    .introduction-image {
        border-radius: 50%;
    }

    .fa-arrow-right {
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }

    .paragraph-container {
        width: 70vw;
    }

    .paragraph {
        flex-direction: column;
        align-items: center;
    }

    .paragraph-text {
        margin-top: 30px;
    }
    
    .email-form:focus~.label-email,
    .email-form:not(:placeholder-shown).email-form:not(:focus)~.label-email {
        transform: translateY(-35px);
    }
}

@media(max-width:650px) {
    .newsletter {
        flex-direction: column;
    }

    .newsletter-email-button {
        margin-top: 30px;
    }
}

@media(max-width:650px) {
    .introduction-image {
        width: 250px;
    }
}

@media(max-width:550px) {
    .introduction-text {
        width: 90vw;
    }

    .paragraph-container {
        width: 75vw;
    }
}

@media(max-width:500px) {
    .paragraph-container {
        width: 80vw;
    }

    .paragraph {
        padding: 40px 20px;
    }
}

@media(max-width:450px) {
    .paragraph-text {
        width: 250px;
    }

    .paragraph-image {
        width: 225px;
    }

    .introduction-paragraph {
        margin: 20px 35px;
    }

    .introduction-container {
        margin-top: 50px;
    }
    .filler{
        line-height:1.5;
    }
}

@media(max-width:400px) {
    .paragraph-container {
        width: 85vw;
    }

    .newsletter-email {
        width: 200px;
    }
}

@media(max-width:370px) {
    .paragraph-text {
        width: 225px;
    }

    .paragraph-image {
        width: 200px;
    }

    .introduction-paragraph {
        margin: 20px;
        font-size: 1.4rem;
    }
}

@media(max-width:320px) {
    .newsletter-btn {
        padding: 12px 16px;
        margin-left: 15px;
    }

    .newsletter-email {
        width: 175px;
    }
}
