/* ? Landing Page Equivalent */

.introduction-container {
    display: flex;
    position: relative;
    margin-top: 90px;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55vw;
    margin-right: 100px;
}

.introduction-headline {
    font-family: 'Englebert', sans-serif;
    text-align: center;
    font-size: 2.25rem;
    margin-top: 20px;
}

.introduction-paragraph {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.25rem;
    margin: 20px 95px;
    font-weight: 600;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 15vw;
}

.introduction-image {
    width: 450px;
    height: auto;
    border-radius: 15px;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    pointer-events: none;
}

.learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #014C78;
    border-radius: 25px;
    padding: 12.5px 30px;
    font-family: 'Englebert', sans-serif;
    color: #E9EAE9;
    font-size: 1.15rem;
    transition: .5s all ease;
    border: 2.5px dashed transparent;
    margin-top: 10px;
}

.learn-more-btn:hover {
    box-shadow: 10px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 2.5px dashed #E9EAE9;
}

/* ? Filler */

.filler {
    background: rgba(20, 158, 188, 0.21);
    margin: 60px 0;
    padding: 30px;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Englebert', sans-serif;
}

.filler-img {
    width: 35px;
    height: auto;
    vertical-align: middle;
    margin-right: 30px;
}

/* ? Arrow */

.fa-arrow-right {
    position: absolute;
    top: 175px;
    right: 75px;
    font-size: 1.75rem;
}
